Repository MrAdityaAlok/learn-to-program, changes with the labels that .github/labeler.yml gives for each.
All labels: c, python, java, bash, Progress Bar, Projects, Sylvie

.github/labeler.yml:

c:
  - Exercism/c/**/*

python:
  - Exercism/python/**/*

java:
  - Exercism/java/**/*

bash:
  - Exercism/bash/**/*

Progress Bar:
  - Progress/**/*

Projects:
  - Projects/**/*
 
Sylvie:
  - Projects/Sylvie/**/*

path(Exercism/python): add new exercise `dnd-character`
  Exercism/python/dnd-character/.exercism/config.json
  Exercism/python/dnd-character/.exercism/metadata.json
  Exercism/python/dnd-character/HELP.md
  Exercism/python/dnd-character/README.md
  Exercism/python/dnd-character/dnd_character.py
  Exercism/python/dnd-character/dnd_character_test.py
Labels: python

path(Exercism/c): add new exercise grade school
  Exercism/c/grade-school/.exercism/config.json
  Exercism/c/grade-school/.exercism/metadata.json
  Exercism/c/grade-school/HELP.md
  Exercism/c/grade-school/README.md
  Exercism/c/grade-school/grade_school.c
  Exercism/c/grade-school/grade_school.h
  Exercism/c/grade-school/makefile
  Exercism/c/grade-school/test-framework/unity.c
  Exercism/c/grade-school/test-framework/unity.h
  Exercism/c/grade-school/test-framework/unity_internals.h
  Exercism/c/grade-school/test_grade_school.c
Labels: c

workflow(Exercism/c): compile with gcc
  .github/workflows/codeql-analysis.yml
Labels: none

path(Exercism/c/grade-school): fix string overflow
  Exercism/c/grade-school/grade_school.c
  Exercism/c/grade-school/grade_school.h
Labels: c

path(Exercism/c/grade-school): fix missing initializer
  Exercism/c/grade-school/grade_school.c
Labels: c

path(Exercism/c/grade-school): add null ptr checks
  Exercism/c/grade-school/grade_school.c
Labels: c

path(Exercism/c/grade-school): explicitly check for position < count
  Exercism/c/grade-school/grade_school.c
Labels: c

path(Exercism/c/grade-school): improve `add_student`
  Exercism/c/grade-school/grade_school.c
Labels: c

path(Exercism/c/grade-school): refactor `get_grade`
  Exercism/c/grade-school/grade_school.c
Labels: c

Revert "workflow(Exercism/c): compile with gcc"
  .github/workflows/codeql-analysis.yml
Labels: none

path(Exercism/c/grade-school): lesser comments
  Exercism/c/grade-school/grade_school.c
  Exercism/c/grade-school/grade_school.h
Labels: c

Add: School alogs
  School/gcd.c
  School/search.c
  School/sorting.c
Labels: none
