Repository MrAdityaAlok/learn-to-program, changes with the labels that .github/labeler.yml gives for each.
All labels: c, python, java, bash, Progress Bar, Projects, Sylvie

.github/labeler.yml:

c:
  - Exercism/c/**/*

python:
  - Exercism/python/**/*

java:
  - Exercism/java/**/*

bash:
  - Exercism/bash/**/*

Progress Bar:
  - Progress/**/*

Projects:
  - Projects/**/*
 
Sylvie:
  - Projects/Sylvie/**/*

feat(python): add guidos-gorgeous-lasagna exercise
  Exercism/python/guidos-gorgeous-lasagna/.exercism/config.json
  Exercism/python/guidos-gorgeous-lasagna/.exercism/metadata.json
  Exercism/python/guidos-gorgeous-lasagna/HELP.md
  Exercism/python/guidos-gorgeous-lasagna/HINTS.md
  Exercism/python/guidos-gorgeous-lasagna/README.md
  Exercism/python/guidos-gorgeous-lasagna/lasagna.py
  Exercism/python/guidos-gorgeous-lasagna/lasagna_test.py
Labels: python

style(python): format with black
  Exercism/python/acronym/acronym.py
  Exercism/python/anagram/anagram.py
  Exercism/python/grade-school/grade_school.py
  Exercism/python/hamming/hamming.py
  Exercism/python/isbn-verifier/isbn_verifier.py
  Exercism/python/palindrome-products/palindrome_products.py
  Exercism/python/perfect-numbers/perfect_numbers.py
  Exercism/python/phone-number/phone_number.py
  Exercism/python/robot-name/robot_name.py
  Exercism/python/saddle-points/saddle_points.py
  Exercism/python/series/series.py
  Exercism/python/twelve-days/twelve_days.py
Labels: python

refactor(perfect-numbers): according to pep guidelines
  Exercism/python/perfect-numbers/perfect_numbers.py
Labels: python

style(guidos-gorgeous-lasagna): format with black
  Exercism/python/guidos-gorgeous-lasagna/lasagna.py
Labels: python

ci(progress): update commit message
  .github/workflows/progress.yml
Labels: none

feat(c-lang): add square-root exercise
  Exercism/c/square-root/.exercism/config.json
  Exercism/c/square-root/.exercism/metadata.json
  Exercism/c/square-root/HELP.md
  Exercism/c/square-root/README.md
  Exercism/c/square-root/makefile
  Exercism/c/square-root/square_root.c
  Exercism/c/square-root/square_root.h
  Exercism/c/square-root/test-framework/unity.c
  Exercism/c/square-root/test-framework/unity.h
  Exercism/c/square-root/test-framework/unity_internals.h
  Exercism/c/square-root/test_square_root.c
Labels: c

feat(projects): add haskell dependencies resolver
  Projects/dependencies.py
Labels: Projects

style(projects): format with black
  Projects/dependencies.py
Labels: Projects

style(projects): reduce line length
  Projects/dependencies.py
Labels: Projects

feat: Add smali path
  .gitignore
  Smali/HelloWorld/HelloWorld.smali
Labels: none

path(Exercism/python): add new exercise gigasecond
  Exercism/python/gigasecond/.exercism/config.json
  Exercism/python/gigasecond/.exercism/metadata.json
  Exercism/python/gigasecond/HELP.md
  Exercism/python/gigasecond/HINTS.md
  Exercism/python/gigasecond/README.md
  Exercism/python/gigasecond/gigasecond.py
  Exercism/python/gigasecond/gigasecond_test.py
Labels: python

path(Exercism/python): add new exercise `ghost-gobble-arcade-game`
  Exercism/python/ghost-gobble-arcade-game/.exercism/config.json
  Exercism/python/ghost-gobble-arcade-game/.exercism/metadata.json
  Exercism/python/ghost-gobble-arcade-game/HELP.md
  Exercism/python/ghost-gobble-arcade-game/HINTS.md
  Exercism/python/ghost-gobble-arcade-game/README.md
  Exercism/python/ghost-gobble-arcade-game/arcade_game.py
  Exercism/python/ghost-gobble-arcade-game/arcade_game_test.py
Labels: python

feat(Exercism): Add perl5 path
  Exercism/perl5/accumulate/.exercism/config.json
  Exercism/perl5/accumulate/.exercism/metadata.json
  Exercism/perl5/accumulate/Accumulate.pm
  Exercism/perl5/accumulate/HELP.md
  Exercism/perl5/accumulate/README.md
  Exercism/perl5/accumulate/accumulate.t
  Exercism/perl5/all-your-base/.exercism/config.json
  Exercism/perl5/all-your-base/.exercism/metadata.json
  Exercism/perl5/all-your-base/AllYourBase.pm
  Exercism/perl5/all-your-base/HELP.md
  Exercism/perl5/all-your-base/README.md
  Exercism/perl5/all-your-base/all-your-base.t
  Exercism/perl5/all-your-base/l.txt
  Exercism/perl5/allergies/.exercism/config.json
  Exercism/perl5/allergies/.exercism/metadata.json
  Exercism/perl5/allergies/Allergies.pm
  Exercism/perl5/allergies/HELP.md
  Exercism/perl5/allergies/README.md
  Exercism/perl5/allergies/allergies.t
  Exercism/perl5/hello-world/.exercism/config.json
  Exercism/perl5/hello-world/.exercism/metadata.json
  Exercism/perl5/hello-world/HELP.md
  Exercism/perl5/hello-world/HelloWorld.pm
  Exercism/perl5/hello-world/README.md
  Exercism/perl5/hello-world/hello-world.t
Labels: none

fix(progress): remove spaces from track names
  Progress/progress.py
Labels: Progress Bar

path(Exercism/python): add new exercise `meltdown-mitigation`
  Exercism/python/meltdown-mitigation/.exercism/config.json
  Exercism/python/meltdown-mitigation/.exercism/metadata.json
  Exercism/python/meltdown-mitigation/HELP.md
  Exercism/python/meltdown-mitigation/HINTS.md
  Exercism/python/meltdown-mitigation/README.md
  Exercism/python/meltdown-mitigation/conditionals.py
  Exercism/python/meltdown-mitigation/conditionals_test.py
Labels: python

path(Exercism/python): add new exercise `little-sisters-vocab`
  Exercism/python/little-sisters-vocab/.exercism/config.json
  Exercism/python/little-sisters-vocab/.exercism/metadata.json
  Exercism/python/little-sisters-vocab/HELP.md
  Exercism/python/little-sisters-vocab/HINTS.md
  Exercism/python/little-sisters-vocab/README.md
  Exercism/python/little-sisters-vocab/strings.py
  Exercism/python/little-sisters-vocab/strings_test.py
Labels: python

path(Exercism/python): add new exercise `currency-exchange`
  Exercism/python/currency-exchange/.exercism/config.json
  Exercism/python/currency-exchange/.exercism/metadata.json
  Exercism/python/currency-exchange/HELP.md
  Exercism/python/currency-exchange/HINTS.md
  Exercism/python/currency-exchange/README.md
  Exercism/python/currency-exchange/exchange.py
  Exercism/python/currency-exchange/exchange_test.py
Labels: python

path(Exercism/python): add new exercise `black-jack`
  Exercism/python/black-jack/.exercism/config.json
  Exercism/python/black-jack/.exercism/metadata.json
  Exercism/python/black-jack/HELP.md
  Exercism/python/black-jack/HINTS.md
  Exercism/python/black-jack/README.md
  Exercism/python/black-jack/black_jack.py
  Exercism/python/black-jack/black_jack_test.py
Labels: python

path(Exercism/python): add new exercise `little-sisters-essay`
  Exercism/python/little-sisters-essay/.exercism/config.json
  Exercism/python/little-sisters-essay/.exercism/metadata.json
  Exercism/python/little-sisters-essay/HELP.md
  Exercism/python/little-sisters-essay/HINTS.md
  Exercism/python/little-sisters-essay/README.md
  Exercism/python/little-sisters-essay/string_methods.py
  Exercism/python/little-sisters-essay/string_methods_test.py
Labels: python

path(Exercism/python): add new exercise `card-games`
  Exercism/python/card-games/.exercism/config.json
  Exercism/python/card-games/.exercism/metadata.json
  Exercism/python/card-games/HELP.md
  Exercism/python/card-games/HINTS.md
  Exercism/python/card-games/README.md
  Exercism/python/card-games/lists.py
  Exercism/python/card-games/lists_test.py
Labels: python

path(Exercism/python): add new exercise `chaitanas-colossal-coaster`
  Exercism/python/chaitanas-colossal-coaster/.exercism/config.json
  Exercism/python/chaitanas-colossal-coaster/.exercism/metadata.json
  Exercism/python/chaitanas-colossal-coaster/HELP.md
  Exercism/python/chaitanas-colossal-coaster/HINTS.md
  Exercism/python/chaitanas-colossal-coaster/README.md
  Exercism/python/chaitanas-colossal-coaster/list_methods.py
  Exercism/python/chaitanas-colossal-coaster/list_methods_test.py
Labels: python

path(Exercism/python): add new exercise `marking-the-grade`
  Exercism/python/making-the-grade/.exercism/config.json
  Exercism/python/making-the-grade/.exercism/metadata.json
  Exercism/python/making-the-grade/HELP.md
  Exercism/python/making-the-grade/HINTS.md
  Exercism/python/making-the-grade/README.md
  Exercism/python/making-the-grade/loops.py
  Exercism/python/making-the-grade/loops_test.py
Labels: python

path(Exercism/python): add new exercise `tisbury-trasure-hunt`
  Exercism/python/tisbury-treasure-hunt/.exercism/config.json
  Exercism/python/tisbury-treasure-hunt/.exercism/metadata.json
  Exercism/python/tisbury-treasure-hunt/HELP.md
  Exercism/python/tisbury-treasure-hunt/HINTS.md
  Exercism/python/tisbury-treasure-hunt/README.md
  Exercism/python/tisbury-treasure-hunt/tuples.py
  Exercism/python/tisbury-treasure-hunt/tuples_test.py
Labels: python

path(Exercism/python): add new exercise `inventory-management`
  Exercism/python/inventory-management/.exercism/config.json
  Exercism/python/inventory-management/.exercism/metadata.json
  Exercism/python/inventory-management/HELP.md
  Exercism/python/inventory-management/HINTS.md
  Exercism/python/inventory-management/README.md
  Exercism/python/inventory-management/dicts.py
  Exercism/python/inventory-management/dicts_test.py
Labels: python

path(Exercism/python): add new exercise `cater-waiter`
  Exercism/python/cater-waiter/.exercism/config.json
  Exercism/python/cater-waiter/.exercism/metadata.json
  Exercism/python/cater-waiter/HELP.md
  Exercism/python/cater-waiter/HINTS.md
  Exercism/python/cater-waiter/README.md
  Exercism/python/cater-waiter/sets.py
  Exercism/python/cater-waiter/sets_categories_data.py
  Exercism/python/cater-waiter/sets_test.py
  Exercism/python/cater-waiter/sets_test_data.py
Labels: python

path(Exercism/python): add new exercise `reverse-string`
  Exercism/python/reverse-string/.exercism/config.json
  Exercism/python/reverse-string/.exercism/metadata.json
  Exercism/python/reverse-string/HELP.md
  Exercism/python/reverse-string/README.md
  Exercism/python/reverse-string/reverse_string.py
  Exercism/python/reverse-string/reverse_string_test.py
Labels: python

path(Exercism/python): add new exercise `ellens-alien-game`
  Exercism/python/ellens-alien-game/.exercism/config.json
  Exercism/python/ellens-alien-game/.exercism/metadata.json
  Exercism/python/ellens-alien-game/HELP.md
  Exercism/python/ellens-alien-game/HINTS.md
  Exercism/python/ellens-alien-game/README.md
  Exercism/python/ellens-alien-game/classes.py
  Exercism/python/ellens-alien-game/classes_test.py
Labels: python

path(Exercism/python): add new exercise `leap`
  Exercism/python/leap/.exercism/config.json
  Exercism/python/leap/.exercism/metadata.json
  Exercism/python/leap/HELP.md
  Exercism/python/leap/README.md
  Exercism/python/leap/leap.py
  Exercism/python/leap/leap_test.py
Labels: python

path(Exercism/python): add new exercise `resistor-color`
  Exercism/python/resistor-color/.exercism/config.json
  Exercism/python/resistor-color/.exercism/metadata.json
  Exercism/python/resistor-color/HELP.md
  Exercism/python/resistor-color/README.md
  Exercism/python/resistor-color/resistor_color.py
  Exercism/python/resistor-color/resistor_color_test.py
Labels: python

path(Exercism/python): add new exercise `resistor-color-duo`
  Exercism/python/resistor-color-duo/.exercism/config.json
  Exercism/python/resistor-color-duo/.exercism/metadata.json
  Exercism/python/resistor-color-duo/HELP.md
  Exercism/python/resistor-color-duo/README.md
  Exercism/python/resistor-color-duo/resistor_color.py
  Exercism/python/resistor-color-duo/resistor_color_duo.py
  Exercism/python/resistor-color-duo/resistor_color_duo_test.py
Labels: python

path(Exercism/python): add new exercise `rna-transcription`
  Exercism/python/rna-transcription/.exercism/config.json
  Exercism/python/rna-transcription/.exercism/metadata.json
  Exercism/python/rna-transcription/HELP.md
  Exercism/python/rna-transcription/README.md
  Exercism/python/rna-transcription/rna_transcription.py
  Exercism/python/rna-transcription/rna_transcription_test.py
Labels: python

path(Exercism/python): add new exercise `bob`
  Exercism/python/bob/.exercism/config.json
  Exercism/python/bob/.exercism/metadata.json
  Exercism/python/bob/HELP.md
  Exercism/python/bob/README.md
  Exercism/python/bob/bob.py
  Exercism/python/bob/bob_test.py
Labels: python

ci(workflows/progress.yml): update commit message
  .github/workflows/progress.yml
Labels: none

ci(workflows/codeql-analysis.yml): update to v2
  .github/workflows/codeql-analysis.yml
Labels: none

ci: remove codacy scanning
  .github/workflows/codacy-analysis.yml
Labels: none

ci(workflows/progress.ym): convert to cron job
  .github/workflows/progress.yml
Labels: none

path(Exercism/python): add new exercise `etl`
  Exercism/python/etl/.exercism/config.json
  Exercism/python/etl/.exercism/metadata.json
  Exercism/python/etl/HELP.md
  Exercism/python/etl/README.md
  Exercism/python/etl/etl.py
  Exercism/python/etl/etl_test.py
Labels: python

path(Exercism/python): add new exercise `darts`
  Exercism/python/darts/.exercism/config.json
  Exercism/python/darts/.exercism/metadata.json
  Exercism/python/darts/HELP.md
  Exercism/python/darts/HINTS.md
  Exercism/python/darts/README.md
  Exercism/python/darts/darts.py
  Exercism/python/darts/darts_test.py
Labels: python

fix(Progress): wrong track url
  Progress/progress.py
Labels: Progress Bar

Remove badges from `README.md`
  README.md
Labels: none
